---
layout: pages
title: Keuin 工作室 - 博客
---

<div class="listview-outlook" data-role="listview">
<h1><span class="mif-pencil"></span>Keuin's blog</h1>
<!-文章列表->
{% assign i=1 %}
{% for post in site.posts %}

{% assign cls='list' %}

{% if i == 1 %}
{% assign cls='list marked' %}
{% endif %}

{% if post.layout == 'posts' %}
<a class="{{ cls }}" onclick="window.location.href='..{{ post.url }}';">
<div class="list-content">
<span class="list-title">{{ post.title }}</span>
<span class="list-subtitle">于{{ post.date | date_to_string }} </span>
<span class="list-remark">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</span>
</div>
</a>
{% assign i=i+1 %}
{% endif %}

{% endfor %}

<!---------->
</div>