---
layout: pages
title: Keuin 工作室 - 实验室
---
<h1><span class="mif-lab"></span> Laboratory</h1>
{% for post in site.posts %}
{% if post.layout == 'projects' %}
    {% assign color = '' %}
    {% if post.state == 'Updating' %}
        {% assign color = 'success' %}
    {% endif %}
    {% if post.state == 'Pause' %}
        {% assign color = 'warning' %}
    {% endif %}
    {% if post.state == 'Stopped' %}
        {% assign color = 'danger' %}
    {% endif %}
    <button class="command-button {{ color }}" onclick="window.location.href='..{{ post.url }}';">
        {% if post.isOpenSource == true %}
            {% assign iconType = 'mif-file-code' %}
        {% else %}
            {% assign iconType = 'mif-file-archive' %}
        {% endif %}
        <span class="icon {{ iconType }} mif-2x"></span>
        {{ post.title }}
        <small>Version: {{ post.currVersion }}, BuildTime: {{ post.buildTime }}</small>
        <small>{{ post.describe }}</small>
    </button>
    <br />
{% endif %}
{% endfor %}