<!DOCTYPE html>
<html>
<head>
{% include basicData %}
<title>{{ page.title }} - Keuin 工作室</title>
{% include UI %}
</head>
<body>
{% include headbar %}

<a class="button" href="{{ site.url }}/blog">文章列表</a>
{% assign i = 1 %}
{% assign isLast = true %}
{% assign lastPost=i %}
{% for post in site.posts %}
    {% if post.layout == 'posts' %}
        {% assign isLast = false %}
        {% if post.url == page.url %}
            {% assign isLast = true %}
            {% assign sig = ' ' %}
            {% if i == 1 %}
                {% assign sig = ' disabled' %}
            {% endif %}
            {% if i != 1 %}
                {% assign urll = site.posts[lastPost].url %}
            {% endif %}
            <button class="button"{{ sig }} onclick="self.location='{{ site.url }}{{ urll }}'">上一篇</button>
        {% endif %}
        {% assign i=i+1 %}
        {% assign lastPost=forloop.index0 %}
    {% endif %}
{% endfor %}

{% assign aaa = ' ' %}
{% if isLast == true %}
    {% assign aaa = ' disabled' %}
{% endif %}
{% if isLast == false %}
    {% assign urlb = site.posts[lastPost-1].url %}
{% endif %}
<button class="button"{{ aaa }} onclick="self.location='{{ site.urk }}{{ urlb }}'">下一篇</button>
<h1>{{ page.title }}</h1>
<h3>于{{ page.date | date: "%Y-%m-%d" }}</h3>
<br />
<br />
<!-正文->
{{ content }}
<br />
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'keuinx';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
</body>
</html>