<!DOCTYPE html>
<html>
<head>
{% include basicData %}
<title>{{ page.title }} - Keuin 工作室</title>
{% include UI %}
{% assign showRSS = true %}
{% include headbar %}
</head>
<body>
<a class="button" href="{{ site.url }}/blog">文章列表</a>
<h1>{{ page.title }}</h1>
<h5>{{ page.createTime | date: "%Y-%m-%d" }} 创建</h5>
{% if page.modifyTime %}
<h5>{{ page.modifyTime | date: "%Y-%m-%d" }} 修改</h5>
{% endif %}
<br />
<br />
<!-正文->
{{ content }}
<br />
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'keuinx';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
</body>
{% include VisitStat %}
</html>
