<!DOCTYPE html>
<html>
<head>
{% include basicData %}
<title>{{ page.title }} - Keuin 工作室</title>
{% include UI %}
</head>
<body>
{% include headbar %}

<!-正文->
<a class="button" href="{{ site.url }}/lab">查看列表</a>
<h1>{{ page.title }}</h1>
<h3>描述：{{ page.describe }}</h3>
<h3>当前版本：{{ page.currVersion }}, 构建日期：{{ page.buildTime }}</h3>
<h3>开放源码：{% if page.isOpenSource == true %}是{% else %}否{% endif %}</h3>
<h3>更新状态：{% if page.state == 'Updating' %}更新中{% endif %}{% if page.state == 'Pause' %}仅关键更新{% endif %}{% if page.state == 'Stopped' %}已弃坑{% endif %}</h3>
<!--a class="button" href="{{ page.downloadUrl }}" target="_blank"><span class="mif-file-download"></span> 获取</a-->
<a class="button" href="https://github.com/keuin/KeuinStudio_Storage/tree/master/dl/{{ page.dlID }}/" target="_blank"><span class="mif-download2"></span> 获取</a>
<br />
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'keuinstudiolab';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
</body>
{% include VisitStat %}
</html>
